/* common */

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Raleway, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

.btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* region header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 40px;
}

.link-nav {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #2e2f42;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}

.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}

.link-nav::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-link {
  color: #404bbf;
}

.active-link::after {
  transform: translateY(0);
}

.link-nav:hover::after,
.link-nav:focus::after {
  transform: translateY(0);
}

.address ul {
  display: flex;
  gap: 40px;
}

.address a {
  display: block;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address a:hover,
.address a:focus {
  color: #404bbf;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
  text-transform: uppercase;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo-part {
  color: #4d5ae5;
}

/* region hero */

.section-hero {
  background-color: rgb(46, 47, 66);
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: auto;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(./../images/hero-people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0px auto 48px auto;
}

/* region features */

.section-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0 auto 72px auto;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.feature-list-item {
  width: calc((100% - (24px * 3)) / 4);
}

.box-features {
  max-width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.feature-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* region team */

.section-team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: calc((100% - (24px * 3)) / 4);
}

.team-title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-box {
  padding: 32px 16px;
}

.icon {
  fill: #f4f4fd;
}

.icon-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.team-box .icon-team {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

/* region portfolio */

.portfolio-list {
  display: flex;

  align-content: center;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-content {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.overlay-portfolio-img {
  position: relative;
  max-width: 360px;
  height: 300px;
  overflow: hidden;
}

.overlay-portfolio {
  position: absolute;
  top: 0px;
  left: 0;
  max-width: 100%;
  height: 300px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-portfolio:hover .overlay-portfolio {
  transform: translateY(0);
}

.portfolio-list-item:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.overlay-portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
}

/* region footer */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.box-footer-logo {
  margin-right: 120px;
}

.second-part-logo {
  color: #f4f4fd;
}

.text-logo-footer {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-top: 16px;
}

.box-footer-icon {
  max-width: 208px;
  height: 80px;
  margin-right: 80px;
}

.box-footer-icon p {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 16px;
}

.icon-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 16px;
}

.box-footer {
  display: flex;
  align-items: baseline;
}

.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: #31d0aa;
}

.box-subscribe-footer {
  max-width: 453px;
  height: 80px;
  margin-left: auto;
}

.text-subscribe-field {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.subscribe-field {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.text-field-footer {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #2e2f42;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field-footer:hover,
.text-field-footer:focus {
  border: 1px solid #31d0aa;
}

.text-field-footer::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 24px;
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #31d0aa;
}

.icon-subscribe {
  fill: #fff;
}

/* region popup */

.backdrop {
  position: fixed;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .hide-popup {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  user-select: none;
} */

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.popup-review {
  position: relative;
  max-width: 408px;
  max-height: 584px;
  height: 80%;
  padding: 72px 24px 24px 24px;
  overflow: auto;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.close-popup {
  position: absolute;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  stroke: #2e2f42;
  fill: #2e2f42;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stoke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-popup:hover,
.close-popup:focus {
  background-color: #404bbf;
  fill: #fff;
  stroke: #fff;
  border: none;
}

.popup-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.label-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.label-field.comment-label {
  margin-bottom: 0;
}

.field-wrapper-inner {
  position: relative;
  margin-top: 4px;
}

.text-field {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 0 10px 0 38px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field:focus,
.comment-field:focus {
  outline: none;
  border: 1px solid #4d5ae5;
}

.text-field:focus + .form-icon {
  fill: #4d5ae5;
}

.text-field::placeholder {
  border: 1.25px solid #2e2f42;
  width: 18px;
  height: 0px;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-field {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  resize: none;
  margin-top: 4px;
  margin-bottom: 16px;
  padding: 8px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-field::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.checkbox-terms {
  display: flex;
  align-items: center;
  width: 360px;
  height: 16px;
}

.text-term {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.link-terms {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.33;
  color: #4d5ae5;
  text-decoration: underline;
  cursor: pointer;
}

.custom-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: none;
  margin-right: 8px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:focus + .custom-checkbox {
  border-radius: 2px;
  border: 1px solid #404bbf;
}

.input-checkbox:checked + .custom-checkbox {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
  background-color: #404bbf;
  border-radius: 2px;
  border: 1px solid #404bbf;
}

.form-submit-btn {
  display: block;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin: 24px auto 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-submit-btn:hover,
.form-submit-btn:focus {
  background-color: #404bbf;
  outline: none;
}
