/* common */

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Raleway, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===== mobile ===== */

/* region hero mobile */

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container-hero {
  padding-left: 0;
  padding-right: 0;
}

.section-hero {
  background-color: rgb(46, 47, 66);
  padding-top: 72px;
  padding-bottom: 72px;
  max-width: 320px;
  margin: auto;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(./../images/hero-people-office-m.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-resolution: 192dpi) {
  .section-hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(./../images/hero-people-office-m@2x.jpg);
  }
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0px auto 48px auto;
}

.btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

/* ===== tablet ===== */

/* region hero tablet */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .section-hero {
    padding: 112px 136px;
    max-width: 768px;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(./../images/hero-people-office-t.jpg);
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0px auto 36px auto;
  }
}

@media screen and (min-resolution: 192dpi) {
  .section-hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(./../images/hero-people-office-t@2x.jpg);
  }
}

/* ===== desktop ===== */

/* region hero desktop */

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .container-hero {
    padding-left: 0;
    padding-right: 0;
  }

  .section-hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(./../images/hero-people-office.jpg);
  }

  .main-title {
    margin: 0px auto 48px auto;
  }
}

@media screen and (min-resolution: 192dpi) {
  .section-hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(./../images/hero-people-office-@2x.jpg);
  }
}

/* ===== mobile ===== */

/* region features mobile */

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin: 96px 0;
}

.box-features {
  display: none;
}

.feature-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ===== tablet ===== */

/* region features tablet */

@media screen and (min-width: 768px) {
  .feature-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .feature-list-item {
    width: calc((100% - 24px) / 2);
  }

  .feature-title {
    text-align: start;
  }
}

/* ===== desktop ===== */

/* region features desktop */

@media screen and (min-width: 1440px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    margin: 0;
  }

  .feature-list-item {
    width: calc((100% - (24px * 3)) / 4);
  }

  .box-features {
    max-width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .feature-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .feature-text {
    font-weight: 400;
  }
}
